<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-#{name}")%>
<% end %>
<%= form_for(@message) do |f| %>
<div class="overlay">
  <div class="modal">
    <div class="text">
      <h1 class="lead">Edit Message</h1>
    </div>
    <% if user_signed_in? %>
    <div class="i-text">
      <div class="t-field" required="required"><p><%= f.text_area :content, required: true, :class => 'p t-field', :placeholder => "What's bothering you?", :rows => '2', :cols => '36' %></p></div>
      <div type="submit"><h1><%= f.submit "Submit", :class => 'b-submit' %></h1></div>
      <%= link_to 'Back', messages_path %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
