<div class="container">
  <div class="msg-head">
    <h1>Houge Thoughts</h1>
    <% if user_signed_in? %>
      <p class="leave"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></p>
    <% end %>
  </div>
  <div class="message-container">
    <% @messages.reverse_each do |message| %>
    <div class="message animated fadeIn">
      <p class="content"><%= message.content %></p>
      <p class="time"><%= message.created_at.strftime("%a, %B %d, %I:%M %p") %></p>
      <%= message.user.email if message.user %>
    </div>
    <% end %>
  </div>
  <%= form_for(@message) do |f| %>
    <div class="input-text">
      <div class="text-field" required="required"><p><%= f.text_area :content, required: true, :class => 'p text-field', :placeholder => "What's bothering you?", :rows => '2', :cols => '36' %></p></div>
      <div class="btn-submit" type="submit"><h1><%= f.submit "Submit", :class => 'btn-submit' %></h1></div>
    </div>
  </div>
  <% end %>
</div>
