<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-#{name}")%>
<% end %>
<%= form_for(@message) do |f| %>
<div class="overlay">
  <div class="modal">
    <div class="text">
      <h1 class="lead">What's wrong</br>today, Houge?</h1>
      <p>If you were Houge, what would be bothering you today?</p>
    </div>
    <% if user_signed_in? %>
    <div class="i-text">
      <div class="t-field" required="required"><p><%= f.text_area :content, required: true, :class => 'p t-field', :placeholder => "What's bothering you?" %></p></div>
      <div><h1><%= f.submit "Submit", :class => 'b-submit' %></h1></div>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
    </div>
    <% else %>
    <p class="logup">
      <%= link_to "Log In", new_user_session_path, :class => 'b-submit' %>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'b-submit' %>
    <p>
    <% end %>

  </div>
</div>
<% end %>
